<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Facturas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles02.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_mifactura.png') }}"> 
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="home-button">
            <img src="{{ url_for('static', filename='images/logo_mifactura.png') }}" alt="Home" class="logo">
        </a>
        <div>
            <a href="{{ url_for('facturas') }}" class="activofactura">Facturas</a>
            <a href="{{ url_for('historial') }}">Historial</a> 
            <a href="{{ url_for('cuentas') }}">Cuentas</a>
        </div>
        <button class="signout">Sign out</button>
    </div>
    
    <div class="container">
        <h2>Mis Facturas</h2>
        
        <div class="bill">
            <img src="{{ url_for('static', filename='images/luma_logo.png') }}" alt="LUMA">
            <div class="bill-info">
                <h3>Balance actual</h3>
                <p>$89.67</p>
                <a href="{{ url_for('pago_luma') }}">
                    <button class="pay-button">PAGAR</button>
                </a>
                
                <p>Vence en: 20 de Marzo del 2025</p>
            </div>
        </div>
        
        <div class="bill">
            <img src="{{ url_for('static', filename='images/water_logo.png') }}" alt="AAA">
            <div class="bill-info">
                <h3>Balance actual</h3>
                <p>$39.37</p>
                <button class="pay-button">PAGAR</button>
                <p>Vence en: 20 de Marzo del 2025</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; 2025 MiFacturaPR. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
