<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Facturas</title>
    <link rel="stylesheet" href="styles02.css">
    <link rel="icon" type="image/png" href="logo_mifactura.png"> 
</head>
<body>
    <div class="navbar">
        <a href="Homepage.html" class="home-button">
            <img src="logo_mifactura.png" alt="Home" class="logo">

            <div>
                <a href="Facturas.html" class="activofactura">Facturas</a>
                <a href="Historial.html">Historial</a> 
                <a href="Cuentas.html">Cuentas</a>
            </div>
       
        </a>
        <button class="signout">Sign out</button>
    </div>
    
    <div class="container">
        <h2>Mis Facturas</h2>
        
        <div class="bill">
            <img src="luma_logo.png" alt="LUMA">
            <div class="bill-info">
                <h3>Balance actual</h3>
                <p>$89.67</p>
                <a href="Pago_Luma.html">
                    <button class="pay-button">PAGAR</button>
                </a>
                
                <p>Vence en: 20 de Marzo del 2025</p>
            </div>
        </div>
        
        <div class="bill">
            <img src="water_logo.png" alt="AAA">
            <div class="bill-info">
                <h3>Balance actual</h3>
                <p>$39.37</p>
                <button class="pay-button">PAGAR</button>
                <p>Vence en: 20 de Marzo del 2025</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; 2025 MiFacturaPR. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
