{% extends "base.html" %}

{% block title %}Historial de Pagos{% endblock %}

{% block content %}
<div class="historial-container">
    {% for pago in historial %}
        {% set logo = 'luma_logo.png' if pago.servicio == 'LUMA' else 'water_logo.png' %}
        <div class="pago">
            <img src="{{ url_for('static', filename='images/' + logo) }}" alt="{{ pago.servicio }}">
            <span class="monto verde">${{ '%.2f'|format(pago.total_amount) }}</span>
            <span class="estado">
                {{ pago.statement }} :
                {{ pago.issued_date.strftime('%d') }} de
                {% set mes = pago.issued_date.strftime('%m') %}
                {% if mes == '01' %}enero
                {% elif mes == '02' %}febrero
                {% elif mes == '03' %}marzo
                {% elif mes == '04' %}abril
                {% elif mes == '05' %}mayo
                {% elif mes == '06' %}junio
                {% elif mes == '07' %}julio
                {% elif mes == '08' %}agosto
                {% elif mes == '09' %}septiembre
                {% elif mes == '10' %}octubre
                {% elif mes == '11' %}noviembre
                {% elif mes == '12' %}diciembre
                {% endif %} del {{ pago.issued_date.strftime('%Y') }}
            </span>
        </div>
    {% else %}
        <p>No hay pagos registrados aún.</p>
    {% endfor %}
</div>
{% endblock %}