<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Pagos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles04.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_mifactura.png') }}">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="home-button">
                <img src="{{ url_for('static', filename='images/logo_mifactura.png') }}" alt="Home" class="logo">
            </a>
            <div>
                <a href="{{ url_for('facturas') }}">Facturas</a>
                <a href="{{ url_for('historial') }}" class="activohistorial">Historial</a>
                <a href="{{ url_for('cuentas') }}">Cuentas</a>
            </div>
            <a href="{{ url_for('logout') }}"><button class="signout">Sign out</button></a>
        </div>
    </header>

    <main>
        <div class="historial-container">
            {% for pago in historial %}
                {% set logo = 'luma_logo.png' if pago.servicio == 'LUMA' else 'water_logo.png' %}
                <div class="pago">
                    <img src="{{ url_for('static', filename='images/' + logo) }}" alt="{{ pago.servicio }}">
                    <span class="monto verde">${{ '%.2f'|format(pago.total_amount) }}</span>
                    <span class="estado">{{ pago.statement }} : {{ pago.issued_date.strftime('%d de %B del %Y') }}</span>
                </div>
            {% else %}
                <p>No hay pagos registrados aún.</p>
            {% endfor %}
        </div>
    </main>
</body>
</html>