<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Recovery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles08.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_mifactura.png') }}">
</head>
<body>
    <div class="recovery-container">
        <img src="{{ url_for('static', filename='images/logo_mifactura.png') }}" alt="Logo" class="logo">
        <h2>Recuperar Contraseña</h2>
        <form method="POST" action="{{ url_for('recover') }}">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="submit" value="Aceptar">
        </form>

        {% if message %}
            <p class="success-message">{{ message }}</p>
        {% elif error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}

        <p class="back-link"><a href="{{ url_for('login') }}">Volver a Log-in</a></p>
    </div>
</body>
</html>