<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset tu contraseña</title>
</head>
<body>
    <h2>Reset tu contraseña</h2>
    <form method="POST" action="{{ url_for('reset_password', token=token) }}">
        <label for="new_password">Enter your new password:</label><br>
        <input type="password" id="new_password" name="new_password" required><br><br>
        <input type="submit" value="Reset Password">
    </form>

    {% if message %}
        <p style="color:green;">{{ message }}</p>
    {% elif error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <p><a href="{{ url_for('login') }}">Back to Login</a></p>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resetear Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles10.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_mifactura.png') }}">
</head>
<body>
    <div class="reset-container">
        <img src="{{ url_for('static', filename='images/logo_mifactura.png') }}" alt="Logo" class="logo">
        <h2>Resetear Contraseña</h2>
        <form method="POST" action="{{ url_for('reset_password', token=token) }}">
            <label for="new_password">Nueva Contraseña:</label>
            <input type="password" id="new_password" name="new_password" required>

            <label for="confirm_password">Confirmar Contraseña:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>

            <input type="submit" value="Aceptar">
        </form>

       <!-- {% if message %}
            <p class="success-message">{{ message }}</p>
        {% elif error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}-->

        <p class="back-link"><a href="{{ url_for('login') }}">Volver a Login</a></p>
    </div>
</body>
</html>
