body {
    background-color: #0A1128;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: #1A1A1A;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(13, 202, 39, 0.91);
    text-align: center;
    width: 400px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    text-align: left;
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

.forgot-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.forgot-links a {
    color: #1E88E5;
    text-decoration: none;
    font-size: 14px;
}

.forgot-links a:hover {
    text-decoration: underline;
}

.login-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.login-btn:hover {
    background-color: #4CAF50;
}

.login-link {
    color: white;
    margin-top: 15px;
}

.login-link a {
    color: #1E88E5;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.social-login {
    color: #ffffff;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Más espacio entre los botones */
    margin-top: 15px;
}

.social-btn {
    background-color: #0A1128;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 40px; /* Tamaño más grande */
    height: 40px;
    font-size: 20px; /* Íconos más grandes */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Colores de los botones */
.facebook {
    background-color: #333333;
}

.google {
    background-color: #333333;
}

.microsoft {
    background-color: #333333;
}

.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.back-arrow i {
    margin-right: 5px;
}

/* Efecto hover */
.social-btn:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}